body{
    background-color: #fbfbfb;
    animation: fade-in-down .6s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1vmin;
    grid-row-gap: 1vmin;
    
}

.box{
    border: 2vmin solid;
    width: 16vmin;
    height: 16vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
    cursor: pointer;
    border-radius: 3vh;
}

.blank{
    width: 16vmin;
    height: 16vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
}

.UI-buttons{
    font-size: 7vmin;
    display: flex;
    flex-flow: row nowrap;
    width: 64vmin;
}

#refresh{
    order:1;
}
#moves{
    order: 2;
    margin-left: auto;
    margin-top: 0px;
}

ion-icon{
    font-size: 7vmin;
}