body{
    background-color: #fbfbfb;
    animation: fade-in-down .6s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

#grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1vmin;
    grid-row-gap: 1vmin;
    
}

.box{
    border: 2vmin solid;
    width: 16vmin;
    height: 16vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
    cursor: pointer;
}

.blank{
    width: 16vmin;
    height: 16vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
}