.home-body{
    background-color: #fbfbfb
}
.home-header{
    display: block;
    margin: 200px auto 0px auto;
    text-align: center;
    position: relative;
}
.animated{
    animation: fade-in-down .6s;
    animation-delay: .3s;
    animation-fill-mode: both;
}
.profile-photo{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-photo img{
    width: auto;
    height: 100%;
}