.home-body{
    background-color: #fbfbfb;
    animation: fade-in-down .6s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}
.home-header{
    display: block;
    margin: 100px auto 0px auto;
    text-align: center;
    position: relative;
}
.profile-photo{
    display: inline-block;
    position: relative;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.description{
    font-size: 19px;
}
.home-hr{
    width: 50%;
}
.fa{
    padding: 2px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

a.fa{
    color: black;
}
